.relation-page {
  width: 100%;
  background-color: #08090b;
  min-height: 100vh;
  padding: 15rem 0 5rem 0;
}
.relation-content {
  width: 100%;
  border-radius: 1.5rem;
  background: var(--zinc-800);
  padding: 2.5rem;
}
.relation-main-grid {
  width: 100%;
}
.relation-main-grid {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  gap: 1.5rem;
}
.relation-box {
  padding: 2rem 2.5rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--zinc-700);
  background: var(--zinc-900);
}
.relation-box.relation-bot {
  grid-row: 1/4;
  padding: 0;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  padding: 5rem;
  background-color: var(--zinc-900);
}
.chat-intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.relation-bot h2 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--yellow);
  text-align: center;
  z-index: 3;
}
.relation-bot p {
  font-size: 1.25rem;
  color: var(--white);
  position: relative;
  text-align: center;
  z-index: 3;
  font-weight: 500;
}
.relation-bot h6 {
  font-size: 1.5rem;
  color: var(--white);
  margin: 1.5rem 0 0 0;
  font-weight: 600;
}
.chat-text {
  width: calc(100% - 5rem);
  font-size: 2rem;
  color: var(--white);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 2.5rem);
  text-align: center;
  z-index: 10;
  font-weight: 500;
  opacity: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.chat-mic {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  font-size: 2.5rem;
  color: var(--zinc-800);
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0) scale(0.85);
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
.rb-logo-box {
  width: 12rem;
  height: 12rem;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  background-color: rgba(255, 255, 255, 0.025);
  margin: 5rem 0;
}
.rb-logo-box img {
  position: relative;
  width: 6.5rem;
  z-index: 3;
  object-fit: contain;
}
.rb-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rb-circle {
  width: 100%;
  height: 100%;
  background: radial-gradient(var(--yellow), transparent);
  border-radius: 100000px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  filter: blur(100px);
  z-index: 2;
}
.rv-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  filter: blur(2px);
  scale: 1.2;
}
.relation-chat-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 7.25rem 0;
}
.relation-msgs-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.relation-msgs-box > :last-child {
  margin: 0 !important;
}
.msg-ai {
  width: 100%;
  margin: 0 0 1.5rem 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--zinc-800);
  padding: 1rem;
  border-radius: 0.75rem;
  width: max-content;
  max-width: 50%;
}
.msg-ai p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--white);
  font-weight: 500;
}
.msg-ai h6 {
  font-size: 1.15rem;
  color: var(--white);
  margin: 1rem 0 0 0;
  opacity: 0.5;
  font-weight: 400;
  text-align: right;
}
.msg-person {
  width: 100%;
  margin: 0 0 1.5rem auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--yellow);
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: 50%;
  width: max-content;
}
.msg-person h6 {
  font-size: 1.15rem;
  color: var(--zinc-700);
  margin: 1rem 0 0 0;
  font-weight: 500;
  text-align: right;
}
.chatlog-box > p {
  font-size: 1.65rem;
  color: var(--white);
  margin: 0 0 1.5rem 0;
  font-weight: 500;
  text-align: center;
}
.msg-person p {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.5rem !important;
  color: var(--zinc-700) !important;
}
.typing-dots {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.typing-dots div {
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  opacity: 0.65;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
}
.chat-type-box {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 4.25rem;
  grid-gap: 1rem;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.chat-input-box {
  width: 100%;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--zinc-700);
  border-radius: 1000px;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.chat-input-box input {
  background-color: transparent;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  color: var(--white);
  opacity: 0.85;
  width: 100%;
  padding: 0 2rem 0 0;
}
.chat-input-box span {
  display: flex;
  font-size: 1.65rem;
  color: var(--white);
  opacity: 0.85;
}
.chat-input-box input::placeholder {
  color: var(--white);
  opacity: 0.65;
}
.chat-type-box > button {
  width: 4.25rem;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.85rem;
  border-radius: 50%;
  /* background: linear-gradient(#f19b27, #f3e5a5, #f19b27); */
  color: var(--zinc-800);
  background-color: var(--yellow);
}
.relation-problems {
  grid-column: 2/4;
}
.relation-advice {
  grid-column: 2/3;
}
.relation-quote {
  grid-column: 3/4;
  position: relative;
}
.relation-quote img {
  width: 5rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}
.relation-gifts {
  grid-column: 1/-1;
}
.relation-box:not(.relation-video) p,
.relation-box:not(.relation-video) li {
  font-size: 1.5rem;
  color: var(--white);
  list-style-position: inside;
  color: var(--zinc-200);
}
.relation-box ul {
  width: 100%;
  margin: 2.5rem 0 0 0;
}
.relation-box h4 {
  font-size: 1.85rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  color: var(--zinc-200);
}
.relation-box h5 {
  font-size: 1.65rem;
  font-weight: 700;
  color: var(--zinc-200);
  text-align: right;
}
.relation-box h4 span,
.relation-box p span {
  color: #f3e5a5;
}
.addrelation-box {
  width: max-content;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: 7.5rem 3.5rem 7.5rem;
  grid-gap: 2.5rem;
  position: relative;
}
.addrelation-box::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #f3e5a5;
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.arb-box p {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.arb-box p span {
  opacity: 0.65;
  color: #fff;
}
.arb-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.arb-box img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
}
.lr-box {
  width: 100%;
  z-index: 2;
  position: relative;
}
.lr-box img {
  width: 100%;
  transform: translate(0, 1.75rem);
  background-color: var(--zinc-900);
}
.relation-status > p {
  text-align: center;
}
.rs-box {
  width: 100%;
  margin: 0 0 2rem 0;
}
.rs-box:last-child {
  margin: 0;
}
.rs-box-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rs-box-text p {
  font-size: 1.5rem;
}
.rs-prog {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  overflow: hidden;
  margin: 0.75rem 0 0 0;
}
.rs-prog div {
  height: 10px;
  background: linear-gradient(
    180deg,
    #f19b27 0%,
    #f3e5a5 47.72%,
    #f3e5a5 82.5%,
    #f19b27 139.87%
  );
  border-radius: 100px;
}
.rs-con {
  width: 100%;
  margin: 1.5rem 0 0 0;
}
.rg-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
}
.rg-head svg {
  transition: 0.25s;
  font-size: 2rem;
  cursor: pointer;
  color: var(--white);
}
.rg-head svg:hover {
  color: var(--yellow);
}
.gift-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2.5rem;
}
.gift-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.gift-grid-card:hover p {
  color: var(--yellow);
}
.gift-grid-card p {
  transition: 0.25s;
}
.gift-grid-card img {
  width: 100%;
  border-radius: 1rem;
  margin: 0 0 1rem 0;
}
.rc-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2.5rem 0;
}
.rch-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rch-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rch-right button {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 0 0 1.5rem;
}
.rch-left button {
  margin: 0 2.5rem 0 0;
  width: 4.25rem;
  height: 4.25rem;
}
.rch-left h4 {
  font-size: 2.75rem;
  color: var(--white);
}
.rch-left h4 span {
  font-size: 1.65rem;
  font-weight: 400;
}

.relation-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.relation-modal-content {
  width: 100%;
  max-width: 35rem;
  max-height: max-content;
  background-color: var(--zinc-900);
  padding: 2.5rem;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}
.relation-modal-content > h3 {
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  margin: 0 0 2.5rem 0;
}
.rm-close {
  width: 4rem;
  height: 4rem;
  background-color: var(--zinc-800);
  font-size: 2rem;
  color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, -35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1175px) {
  .relation-main-grid {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
  }
  .relation-quote,
  .relation-advice,
  .relation-problems {
    grid-column: unset;
  }
  .gift-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .relation-main-grid {
    grid-template-columns: 1fr 1fr;
  }
  .relation-problems {
    grid-column: 1/-1;
  }
  .relation-box.relation-bot {
    grid-column: 1/-1;
    grid-row: unset;
  }
  .gift-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .relation-main-grid {
    grid-template-columns: 1fr;
    padding: 0 0 2rem 0;
  }
  .gift-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 1rem;
  }
  .relation-page header {
    display: none;
  }
  .relation-page {
    padding: 0 0 2rem 0;
  }
  .relation-content {
    padding: 0;
    background-color: transparent;
  }
  .relation-box.relation-bot {
    border: 0;
    padding: 2.5rem;
  }
  .relation-bot h2 {
    font-size: 2.5rem;
  }
  .chatlog-box > p {
    padding: 2rem;
  }
  .relation .box {
    padding: 0;
  }
  .relation-bot h6 {
    font-size: 1.35rem;
  }
  .rb-logo-box img {
    width: 4rem;
  }
  .relation-box:not(.relation-video) {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
  .rb-logo-box {
    width: 8.5rem;
    height: 8.5rem;
  }
  .relation-box {
    padding: 1.5rem;
  }
  .rc-head {
    padding: 2rem;
    margin: 0;
  }
  .relation-chat-box {
    padding: 10rem 0 7.25rem 0;
  }
  .rch-left button {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 1rem 0 0;
  }
  .rch-left h4 {
    font-size: 2.25rem;
  }
  .rch-right button {
    width: 3.5rem;
    height: 3.5rem;
  }
  .gift-grid-card img {
    border-radius: 0.5rem;
  }
  .relation-modal-content {
    width: calc(100vw - 5rem);
  }
  .relation-box:not(.relation-video) p,
  .relation-box:not(.relation-video) li {
    font-size: 1.35rem;
  }
  .msg-person,
  .msg-ai {
    max-width: 90%;
  }
  .relation-msgs-box {
    padding: 0;
  }
}
